
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Control Remote Home Light</title>
 <link href="https://cdn.tailwindcss.com" rel="stylesheet">

</head>
<body>
  <div class="bg-blue-500 p-4 text-white text-center w-full">
  Home Automation Project | Home automation lighting uses wirelessly controlled LED bulbs
</div>
<img class="rounded-md w-96 h-96" src="{% static 'docs/images/photos/bulbOn.png'%}" alt="image description" id="bulbOn">
<img class="rounded-md w-96 h-96" src="{% static 'docs/images/photos/bulbOff.png'%}" alt="image description" id="bulbOff">
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="on" class="bg-green-600 text-white font-bold py-2 px-4 rounded-full">Turn On</button>
        <button type="submit" name="action" value="off" class="bg-red-600 text-white font-bold py-2 px-4 rounded-full">Turn Off</button>
    </form>
  {% if switch %}
  <script>document.getElementById('bulbOn').style.display="block";</script>
  <script>document.getElementById('bulbOff').style.display="none";</script>
  {% else %}
  <script>document.getElementById('bulbOn').style.display="none";</script>
  <script>document.getElementById('bulbOff').style.display="block";</script>
  {% endif %}
</body>
</html>
